.carousel img {
  height: 80vh;
}
.my-btn {
  width: 130px;
  height: 40px;
  border-style: none;
  background-color: hsl(14, 100%, 50%);
  color: white;
  font-weight: bold;
  border-radius: 30px;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: aqua;
}
